* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  header, footer { 
    flex: none; 
  }
  
  main {
    display: flex;
    flex: 1 0 auto;
  }